body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    font-family: fantasy;
}
.container{
    text-align: center;
}
h1{
    font-size: 32px;
    color: brown;
}
.buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(82, 24, 111);
    background-color: rgb(43, 204, 28);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    transform: scale(0.9) rotate(3deg);
    color: rgb(41, 6, 110);
    background: radial-gradient(circle farthest-corner at 10% 20%, rgb(87, 150, 64) 17.8%, rgb(80, 184, 147) 100.2%);
    transition: 0.5s;
}
#btnNo{
    background-color: brown;
}
#btnNo:hover{
    background-color: brown;
}
img{
    margin-top: 30px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0 0 0 0.1);
}