body{
    margin: 5px;
    padding: 5px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 100px 300px;
}
.c1{
    height: 100px;
    width: 100px;
    background: #b62020;
}
.c2{
    height: 100px;
    width: 100px;
    background: #28cbbb;
}
.c3{
    height: 100px;
    width: 100px;
    background: #4c2da3;
}
.c4{
    height: 100px;
    width: 100px;
    background: #28cbbb;
}
.c5{
    height: 100px;
    width: 100px;
    background: #4c2da3;
}